html 
  head
    title='Add transaction'
  body
    link(rel="stylesheet" href="/css/add_transaction.css")
    include header.pug
    
    form(action="/transactions", method='POST').add_trans_form
        label Amount
        input(name='amount', value='', type='number')
        label Name
        input(name='name', value='', type='text')
        label Date
        input(name='date', value='', type='date')
        label Category 
        input(name='category_id', valie='', type='number')
        input(value='Submit', type='submit')

    include footer.pug