html 
  head
    title='Add transaction'
  body
    link(rel="stylesheet" href="/css/add_transaction.css")
    include header.pug
    .content
        .add-trans
            .title New Transaction
            form(action="/transactions", method='POST')
                input(name='amount', value='', type='number', placeholder='Amount')
                input(name='name', value='', type='text', placeholder='Description')
                input(name='date', value='', type='date')
                input(name='category_id', valie='', type='number', placeholder='Category')
                input(value='Submit', type='submit').submit

    include footer.pug