<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/test.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="">PB</a>
        <a href="">Budget</a>
        <a href="">Transactions</a>
        <a href="">Reports</a>

    </header>
    <div class="content">
        <div class="transactions">
            <div class="header">
                <div class="title">
                    <p>Transactions</p>
                </div>
                <div class="buttons">
                    <div id="add-trans-button">Add new transaction</div>
                    <div class="sort-by-button">Sort by</div>
                    <div class="asc-dsc-button">ASC</div>
                </div>
            </div>
            <div class="row-header">
                <div class="date">Date</div>
                <div class="amount">Amount</div>
                <div class="description">Description</div> 
                <div class="category">Category</div>
                
            </div>
            <div class="rows">
                <div class="row">
                    <div class="date">1985-09-02</div>
                    <div class="amount">249,95</div>
                    <div class="description">Flødekartofler og grillpølser på tilbud i Føtex</div> 
                    <div class="category">MAD</div>

                </div>
                <div class="row">
                    <div class="date">2017-07-04</div>
                    <div class="amount">249,95</div>
                    <div class="description">Flødekartofler og grillpølser på tilbud i Føtex</div> 
                    <div class="category">MAD</div>

                </div>
                <div class="row">
                    <div class="date">2023-01-24</div>
                    <div class="amount">249,95</div>
                    <div class="description">Flødekartofler og grillpølser på tilbud i Føtex</div> 
                    <div class="category">MAD</div>

                </div>
                <div class="row">
                    <div class="date">2023-07-31</div>
                    <div class="amount">249,95</div>
                    <div class="description">Flødekartofler og grillpølser på tilbud i Føtex</div> 
                    <div class="category">MAD</div>
                    
                </div>
            </div>
            
        </div>
    
    </div>
    
    <script src="./test.js"></script>
    
</body>
</html>