html 
  head
    title='Transactions'
  body
    link(rel="stylesheet" href="/css/transactions.css")
    include header.pug
    
    
    .content
        .transactions
            .header 
                .title 
                    p Transactions
                .buttons 

                    #add-trans-button Add new transaction 
                    .sort-by-button Sort by 
                    .asc-dsc-button ASC 
            .row-header
                .date Date
                .amount Amount
                .name Name
                .category Category
            .rows 
                
                
                
                
                        

        
    

    include footer.pug


    script(src="/logic/transactions.js" type="text/javascript")
    script(src="/logic/uiUtils.js" type="text/javascript")
