* {
    /*border: 1px #4E8279 dotted;*/
    box-sizing: border-box;

    font-size: 8px;

}


/** GRID CONTAINER / STRUCTURE **/

.grid-container {
    display:grid;
    grid-template-columns: [first] 1fr [content-start transactions-start] 10fr [content-center transactions-end budget-start] 10fr [content-end budget-end] 1fr [last];
    grid-template-rows: [first header-start] 1fr [header-end] 2fr [content-start] 20fr [content-end] 2fr [footer-start] 1fr [footer-end last];

    background-color: #686e62;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-header {
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: header-start;
    grid-row-end: header-end;

}

.transactions-container {
    grid-column: content-start / span 1;
    grid-row: content-start / span 1;
    align-self: stretch;


}

.budget-container {
    grid-column: budget-start / span 1;
    grid-row: content-start / content-end;
    justify-self: start;
}

.grid-footer {
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: footer-start;
    grid-row-end: footer-end;
}


/** TRANSACTION PAGE **/

.transactions-container {
    
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    display: grid;
    grid-template-columns: [page-border] 15px [content-start] 1fr [content-end] 15px [page-center];
    grid-template-rows: [page-top] 10px [header-start] 20px [header-end subheader-start] 30px [subheader-end content-start] 1fr [content-end] 10px [page-bottom];

    place-self: center end;

    /* H/W ratio: 420/260 = 1,615 */

    width: 340px;
    height: 550px;

    border-radius: 20px 0px 0px 20px;

    background-color: #e6e3dc;
    color: #3d321f;
    
}



.transactions-header {
    grid-column: content-start / content-end;
    grid-row: header-start / header-end;

    justify-self: center;

    height: 10px;

    border-bottom: 1px black solid;


    
}

.transactions-subheader {

    grid-column: content-start / content-end;
    grid-row: subheader-start / subheader-end;
    align-self: center;

    display: grid;
    grid-template-columns: [information-start] 1fr [information-end addTrans-start] 15px [addTrans-end]

}

#informationContainer {
    grid-column: information-start / information-end;   
}

.errorMessage, .succesMessage {
    padding: 5px;
    padding-left: 10px;

    border-radius: 4px;
    width: 90%;
}

.errorMessage {
    color: rgb(106, 0, 0);
    background-color: rgb(239, 229, 229);
    border: 1px darkred solid;
}

.succesMessage {
    color: rgb(0, 106, 26);
    background-color: rgb(229, 239, 230);
    border: 1px rgb(0, 92, 6) solid;   
}

.hide {
    /* fade out before element is removed from page */
    opacity: 0;
    transition: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}



#addTransRow {
    grid-column: addTrans-start / addTrans-end;
    font-size: 12px;
    color: green;
    margin: auto;
    margin-right: 0px;
}

#addTransRow:hover {
    color: rgb(0, 158, 0);
    cursor: pointer;

}

.transaction-rows-table {
    grid-column: content-start / content-end;
    grid-row: content-start / content-end;

    display:grid;
    grid-template-columns: [row-start] auto [row-end];
    grid-auto-rows: 10px;

    overflow: scroll;
}


.transaction-row, .transaction-rows-title {
    grid-column: row-start;
    grid-row: span 1;

    display: grid;
    grid-template-columns: [row-start date-start] 4fr [amount-start] 4fr [description-start] 6fr [category-start] 10fr [add-btn-start] 1fr [del-btn-start] 1fr [row-end];
    grid-template-rows: 10px;
    column-gap: 6px;

}


.transaction-rows-title {
    font-weight:bold;
}

.transaction-rows-title .transaction-amount:hover, 
.transaction-rows-title .transaction-category:hover, 
.transaction-rows-title .transaction-date:hover, 
.transaction-rows-title .transaction-description:hover {

    cursor: pointer;
    text-decoration: underline;

}

.sorted-by {

    text-decoration: underline;
    font-weight: bolder;

}

.ascending::after {

    content: '';
    background-image: url('../img/caret-down-fill.svg');
    background-size: 100% 100%;
    display: inline-block;


    height: 7px;
    width: 7px;

    padding-left: 6px;

}

.descending::after {

    content: '';
    background-image: url('../img/caret-up-fill.svg');
    background-size: 100% 100%;
    display: inline-block;


    height: 7px;
    width: 7px;

    padding-left: 6px;

}

.transaction-rows > * {

    overflow: hidden;

}

.transaction-date {
    grid-column: date-start / amount-start;



}

.transaction-amount {
    grid-column: amount-start / description-start;

}

.transaction-description {
    grid-column: description-start / category-start;

}

.transaction-category {
    grid-column: category-start / add-btn-start;

}

.transaction-edit {
    grid-column: del-btn-start / row-end;
    justify-self: center;
    color:#263d5e;
    transition: all 0.5s ease;
}

.transaction-edit:hover {

    cursor: pointer;
    
    color: rgb(36, 106, 244);

    transform: rotate(10deg);

}

.addTransRow {

    grid-column: add-btn-start / del-btn-start;
    justify-self: center;
    color:#3A5431;
    transition: all 0.5s ease;

}

.addTransRow:hover {

    cursor: pointer;
    
    
    color: rgb(1, 203, 1);

    transform: rotate(20deg);


}

.delTransRow {
    grid-column: del-btn-start / row-end;
    justify-self: center;
    color:#A0522D;
    transition: all 0.5s ease;

}

.delTransRow:hover {

    cursor: pointer;
    color: rgb(221, 0, 0);
    transform: rotate(20deg);

}

input.transaction-date, input.transaction-amount, input.transaction-description, input.transaction-category {
    all: unset;
    
    overflow: hidden;
    
    background-color: #feffd1;
    border-bottom: 1px solid #3d321f;
    height: 8px;
    justify-self: stretch;
}



/** BUDGET PAGE **/

.budget-container {
    
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    display: grid;
    grid-template-columns: [page-border] 15px [content-start] 1fr [content-end] 15px [page-center];
    grid-template-rows: [page-top] 10px [header-start] 20px [header-end subheader-start] 30px [subheader-end content-start] 1fr [content-end] 10px [page-bottom];

    /* H/W ratio: 420/260 = 1,615 */

    width: 340px;
    height: 550px;

    border-radius: 0px 20px 20px 0px;

    background-color: #c8c3ba;
    color: #3d321f;
    
}



.budget-header {
    grid-column: content-start / content-end;
    grid-row: header-start / header-end;

    justify-self: center;

    height: 10px;

    border-bottom: 1px black solid;


    
}

.budget-subheader {
    grid-column: content-start / content-end;
    grid-row: subheader-start / subheader-end;

    display:grid;
    grid-template-columns: [info-start] 1fr [info-end] auto [add-row-start] 38px [add-row-end] 4px [edit-btn-start] 38px [edit-btn-end];
    grid-template-rows: [start] 1fr [center] 1fr [end];
}


.budget-subheader > .budget-sum {
    grid-column: info-start / span 1;
    grid-row: center / end;

    justify-self: start;
}

.budget-subheader > .button-add {
    grid-column: add-row-start / span 1;
    grid-row: start / end;

    justify-self: end;
    align-self: center;
    text-align:center;
    
    
    height: 14px;
    width: 38;
    font-size: 12px;

    background-color: #6D8764;
    color: white;
    border: 1px #3A5431 solid;

    border-radius: 2px;
}

.budget-subheader > .button-edit {
    grid-column: edit-btn-start / span 1;
    grid-row: start / end;

    justify-self: end;
    align-self: center;
    text-align:center;
    
    
    height: 14px;
    width: 38;
    font-size: 8px;

    background-color: #FFD182;
    border: 1px solid #3d321f;
    border-radius: 2px;
}

.button-edit:hover {
    background-color: #ffd1e0;
    cursor: pointer;
}

.budget-rows {
    grid-column: content-start / content-end;
    grid-row: content-start / content-end;

    display:grid;
    grid-template-columns: [parent-row-start] 10px [child-row-start] 10px [grandchild-row-start] auto [row-end];
    grid-auto-rows: 10px;

    overflow: scroll;
    
}


.budget-row {
    grid-column: parent-row-start / row-end;
    grid-row: span 1;

    display: grid;
    grid-template-columns: [row-start category-start] auto [category-end add-btn-start] 30px [add-btn-end del-btn-start] 30px [del-btn-end amount-start] 80px [amont-end row-end];

}

.budget-row:hover {
    background-color: #b6c5a8;
    border-radius: 2px;
    border: 1px solid #3d321f;
    cursor: pointer;   
}


.category-amount {
    grid-column: amount-start / amount-end;
    place-self: end;
}



.budget-category {
    grid-column: category-start / category-end;
}




.budget-row.category-child {
    grid-column: child-row-start / row-end;

}

.budget-row.category-grandchild {
    grid-column: grandchild-row-start / row-end;

}


input.category-amount, input.category-name {
    all: unset;
    background-color: #ffd1e0;
    border-bottom: 1px solid #3d321f;
    height: 8px;
    justify-self: stretch;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { /* removes the up/down arrow of the input[type=number] field */
    -webkit-appearance: none;
    margin: 0;
}

.category-add {
    grid-column: add-btn-start / add-btn-end;
    align-self: center;
    justify-self: center;
}

.add-category-btn {
    background-color: #6D8764;
    color: white;
    border: 1px #3A5431 solid;
    border-radius: 2px;
    font-size: 7px;
    height: 9px;
    width: 20px;

    text-align: center;
    user-select: none; /* User cannot select text when clicking button */

    
}

.add-category-btn-greyed-out {
    background-color: #707070;
    color: rgb(215, 215, 215);
    border: 1px #3a3a3a solid;
}

.category-delete > * {
    height: 8px;
    align-items: center;

}

.category-delete {
    grid-column: del-btn-start / del-btn-end;
    align-self: center;
    justify-self: center;

}

.delete-category-btn {
    background-color: #A0522D;
    color: white;
    border: 1px #6D1F00 solid;
    border-radius: 2px;
    font-size: 7px;
    height: 9px;
    width: 20px;
    

    text-align: center;
    user-select: none; /* User cannot select text when clicking button */

}

.delete-category-btn.greyed-out, .add-category-btn.greyed-out {
    background-color: #707070;
    color: rgb(215, 215, 215);
    border: 1px #3a3a3a solid;
}


.deleteable > input {
    background-color:darkgrey;
    color: grey;
}



input.category-amount {
    text-align: right;

}

.editable:hover {
    border: 0px;
    background-color: #ecc179;
}



